{% extends "ErImageBundle:erbase.html.twig" %}
{% set tab='images'%}
{%block metas %}
  {{ parent() }}
  {%endblock%}
{% block title %}Gestor de Imagenes{%endblock title%}
{% block heading %}
  <div class="col-lg-12">
      <h1 class="page-header">
          Gestion de Imagenes
       </h1>
      <ol class="breadcrumb">
          <li>
              <i class="fa fa-dashboard"></i>  <a href="{{ path('index_images') }}">Imagenes</a>
          </li>
      </ol>
  </div>
{% endblock heading %}

{% block body %}
   <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
     <a href="{{ path('upload_images') }}" class="btn btn-danger"><span class="fa fa-plus-circle"> </span> Cargar Imagenes</a>
   </div>
   
   <div class="col-lg-12">
         &nbsp;
    </div>
    <div class="col-lg-3 col-md-4"><div class="list-group">
          {% for dir in uploads %}
            {%if (loop.index0 % 10 == 0 ) and loop.index0 > 1%}
    </div></div>
    <div class="col-lg-3 col-md-4"><div class="list-group">
            {% endif %}
            <a href="{{ path("view_images",{'gallery':dir.getBaseName()})}}" class="list-group-item"><i class="fa fa-search"></i>  {{dir.getBaseName()}} <i class="fa fa-file-image-o"></i></a>
          {% endfor%}
    </div></div>

   
       <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
        <a href="{{ path('upload_images') }}" class="btn btn-danger"><span class="fa fa-plus-circle"> </span> Cargar Imagenes</a>
       </div>
       <div class="col-lg-12">
         &nbsp;
       </div>


                 

{% endblock body%}

