{% extends "ErImageBundle:erbase.html.twig" %}
{% set tab='images'%}
{%block metas %}
  {{ parent() }}
  {% if download|length %}
  <META http-equiv="refresh" content="0;URL={{ path('download_images',{'gallery':download[0]})}}"> 
  {%endif%}
  {%endblock%}
{% block title %}Upload Images{%endblock title%}
{% block heading %}
  <div class="col-lg-12">
      <h1 class="page-header">
          Gestion de Imagenes
       </h1>
      <ol class="breadcrumb">
          <li>
              <i class="fa fa-dashboard"></i>  <a href="{{ path('dashboard') }}">Dashboard</a>
          </li>
          <li>
              <i class="fa fa-file-photo-o"></i>  <a href="{{ path('index_images') }}">Imagenes</a>
          </li>
          <li class="active">
              <i class="fa fa-file-image-o"></i> Subir Imagenes
          </li>
      </ol>
  </div>
{% endblock heading %}

{% block body %}
                    <div class="col-lg-12">
                      <div id="fileupload">
                        
                      </div>
                    </div>

{% endblock body%}
{% block stylesheets %}
  {{ parent() }}
  <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.min.css" media="screen" />
  <link href="{{ asset('bundles/erimg/js/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascript %}
  {{ parent() }}
   
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/erimg/js/plupload/js/plupload.full.min.js') }}"></script>
<script src="{{ asset('bundles/erimg/js/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js') }}"></script>
<script type="text/javascript">
{% set gallery = "now"|date('YmdHis') %}
$(document).ready(function()
{
    $("#fileupload").plupload(
    {
        runtimes: "html5",
        url: "{{ oneup_uploader_endpoint('gallery') }}",
        multipart_params: {
            gallery: "{{ gallery }}"
        },
        complete: function(){ location = '{{ path('upload_images')}}'
  },
        filters : [
            {title : "Image files", extensions : "jpg,gif,png,jpeg,JPG,JPEG,PNG,GIF"}
        ],
    });
});
</script>
{%endblock%}

